name: SonarQube analysis

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  Analysis:
    runs-on: ubuntu-latest

    steps:
      # 1. Récupérer le code
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Important pour SonarCloud

      # 2. Installer Java 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

      # 3. NOUVELLE ÉTAPE : Compiler le projet
      - name: Build with Maven
        run: mvn -B clean compile

      # 4. Lancer l'analyse SonarCloud
      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v5.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=sonarqubesecurity_ipi
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.java.version=17
            -Dsonar.organization=sonarqubesecurity
            -Dsonar.java.binaries=target/classes  # NOUVEAU : indique le chemin des .class
